<p id="notice"><%= notice %></p>

<h1>Pins</h1>

<div class="continer">
  <div class="jumbotron">
    <p>Miniatury pinów tutaj</p>
    <%= link_to 'New Pin', new_pin_path, class: 'btn btn-primary' %> <br/><br/>

    <div class="row">

        <% @pins.each do |pin| %>
          <div class="col-lg-4">
            <div class="thumbnail">
              </br>
              <%= pin.description %><br/>
              <%= link_to pin_path(pin) do %>
                <%= image_tag url_for (pin.image) %>
              <% end %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
<div class="center">
  <%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
</div>
