<p id="notice"><%= notice %></p>

<div class="container">
  <div class="jumbotron">
    <h2 class="center">Images gallery</h2>
    <br />

    <div class="form-inline center">
          <%= search_form_for @q, url: search_pins_path, html: { method: :post } do |f| %>
            <%= f.search_field :description_cont, type: "text", class: "form-control", placeholder: "Search by description " %>

            <%= f.submit 'Search', class:"btn btn-default"%>
          <% end %>
        </div>
        
    <%= link_to 'Add image', new_pin_path, class: 'btn btn-primary' %> <br/><br/>
    <div class="masonry">
        <% @pins.each do |pin| %>
          <div class="item">
              <%= link_to pin_path(pin) do %>
                <%= image_tag url_for (pin.image) %>
              <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div> 
<div class="center paginate">
  <%= will_paginate @pins, :previous_label => 'Previous page', :next_label => "Next page", renderer: BootstrapPagination::Rails %>
</div>


