<p id="notice"><%= notice %></p>

<h1>Pins</h1>

<div class="continer">
  <div class="jumbotron">
    <p>Miniatury pinów tutaj</p>
    <div class="row">





        <% @pins.each do |pin| %>
          <div class="col-lg-4">
            <div class="thumbnail">
              <%= image_tag url_for (pin.image) %></br>
              <%= pin.description %><br/>
              <%= link_to 'Show', pin, class: 'btn btn-primary btn-sm'%>
            </div>
          </div>
        <% end %>




    </div>

    <br/>
    <%= link_to 'New Pin', new_pin_path, class: 'btn btn-primary' %>
  </div>
</div>
