<p id="notice"><%= notice %></p>

<h1 id=>Galeria obrazów</h1>
<div class="container">
  <div class="jumbotron">
    <%= link_to 'Dodaj obrazek', new_pin_path, class: 'btn btn-primary' %> <br/><br/>
    <div class="masonry">
        <% @pins.each do |pin| %>
          <div class="item">
              <%= link_to pin_path(pin) do %>
                <%= image_tag url_for (pin.image) %>
              <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div> 
<div class="center paginate">
  <%= will_paginate @pins, :previous_label => 'Poprzednia strona', :next_label => "Następna strona", renderer: BootstrapPagination::Rails %>
</div>
