<p id="notice"><%= notice %></p>

<div class="container">
  <div class="jumbotron">
    <h2 class="center">Images gallery</h2>
    <%= link_to 'Add image', new_pin_path, class: 'btn btn-primary' %> <br/><br/>
    <div class="masonry">
        <% @pins.each do |pin| %>
          <div class="item">
              <%= link_to pin_path(pin) do %>
                <%= image_tag url_for (pin.image) %>
              <% end %>
          </div>
        <% end %>
    </div>
  </div>
</div> 
<div class="center paginate">
  <%= will_paginate @pins, :previous_label => 'Previous page', :next_label => "Next page", renderer: BootstrapPagination::Rails %>
</div>
