<p id="notice"><%= notice %></p>

<p>

  <strong>Description:</strong>
  <%= @pin.description %>
</p>

<p>
  <strong>Image:</strong>
  <br>
  <%= image_tag @pin.image %>
</p>

<% if @pin.user == current_user %>
  <%= link_to 'Edytuj', edit_pin_path(@pin), class: 'btn btn-primary btn-sm' %>
  <%= link_to 'Usuń', @pin, method: :delete, data: { confirm: 'Czy na pewno usunąć?' }, class: 'btn btn-primary btn-sm' %>
<% end %>




<%= link_to 'Powrót', pins_path, class: 'btn btn-primary btn-sm'%>
<br/>
<br/>
<br/>

<% if @pin.image.attached? %>


<!-- @post.image.present? will always return true, use attached? to check presence -->

<% end %>
