<p id="notice"><%= notice %></p>

<div class="container">
  <div class="jumbotron">
    <h2 class="center">My images collections</h2>
    <%= link_to 'New board', new_board_path, class: 'btn btn-primary' %> <br/><br/>

    <div class="row">
      <% @boards.each do |board| %>
        <div class="col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <h4><%=board.name %></h4>
              <p><%= link_to 'Show board', board, class: 'btn btn-primary btn-sm'%></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>


<div class="center">
 <%= will_paginate @boards, :previous_label => 'Poprzednia strona', :next_label => "Następna strona", renderer: BootstrapPagination::Rails %></div>
