<p id="notice"><%= notice %></p>

<h1>Moje kolekcje obrazów</h1>

<div class="continer">
  <div class="jumbotron">

    <%= link_to 'Nowa tablica', new_board_path, class: 'btn btn-primary' %> <br/><br/>

    <p>***</p>

    <div class="row">
      <% @boards.each do |board| %>
        <div class="col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <h3><%=board.name %></h3>
              <p><%= board.description %><br/></p>
              <p><%= link_to 'Pokaż tablicę', board, class: 'btn btn-primary btn-sm'%></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>


<div class="center">
  <%= will_paginate @boards, renderer: BootstrapPagination::Rails %>
</div>
