<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @board.description %>
</p>

<p>
  <%= link_to 'Edit', edit_board_path(@board), class: 'btn btn-primary btn-sm' %>
  <%= link_to 'Delete', @board, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary btn-sm' %>
  <%= link_to 'Back', boards_path, class: 'btn btn-primary btn-sm'%>
</p>


<div class="continer">
  <div class="jumbotron">
    <p class="center">
      <strong>Images in your board:</strong><br /><br />
      <%= link_to 'Add image', new_pin_path, class: 'btn btn-primary btn-sm' %> <br/><br/>
    </p>

    <div class="row">
        <% @board_pins.each do |board_pin| %>
          <div class="col-md-4">
            <div class="thumbnail-boards">
              <br />
              <%= link_to pin_path(board_pin) do %>
                <%= image_tag url_for (board_pin.image) %>
              <% end %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
<div class="center">
  <%= will_paginate @board_pins, renderer: BootstrapPagination::Rails %>
</div>
